/* ==========================
   RESET
========================== */

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* ==========================
   TOPBAR
========================== */


.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 70px;

    display: flex;
    align-items: center;

    padding: 0 25px;

    background: white;

    z-index: 1000;
}

.logo{
    width: 180px;

    font-size: 1.2rem;
    font-weight: 700;
    color: #2563eb;
    cursor: pointer;
}

.search_box{
    flex: 1;

    display: flex;
    justify-content: center;
    margin-right: 230px;
}

.search_box input{
    width: 450px;
    padding: 10px 15px;

    border: 1px solid #d1d5db;
    border-radius: 8px;

    outline: none;
}

.profile{
    width: 42px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;

    border-radius: 50%;
    background: #d1d5db;

    cursor: pointer;
}

.profile svg{
    width:20px;
    height:20px;
}

/* ==========================
   SIDEBAR
========================== */

.left_nav_bar{
    position: fixed;

    top: 90px;
    left: 0;

    width: 220px;
    height: calc(100vh - 90px);

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    border-right: 1px solid #e5e7eb;
    background: white;
}

.left_nav_bar a{

    display:block;

    padding:12px 16px;

    border-radius:10px;

    text-decoration:none;

    color:#111827;

    cursor:pointer;

    transition:.2s;
}

.left_nav_bar a:hover{

    background:#f3f4f6;

}

/* ==========================
   DASHBOARD
========================== */

.dashboard_content{
    margin-left:220px;
    margin-top:70px;
    padding:30px;

    display:grid;
    grid-template-columns: 1fr 300px;

    gap: 40px;
}

/* ==========================
   CARDS
========================== */

.all_files,
.recent_files,
.favorites,
.trash{
    scroll-margin-top: 90px;
}

.recent_files,
.favorites,
.all_files,
.trash {

    width:100%;
    max-width:1000px;

    min-height:100vh;

    padding:20px;

    border:1px solid #d9d9d9;
    border-radius:16px;

    background:white;
}

.recent_files h2,
.favorites h2,
.all_files h2,
.trash h2{

    font-size:1.3rem;
    margin-bottom:15px;
}

.right_panel{

    border-left:1px solid #e5e7eb;

    padding-left:30px;

    display:flex;
    flex-direction:column;

    gap:30px;
}

.main_content{
    display: flex;
    flex-direction: column;
    gap: 40px;      
}